@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  background-color: white;
  color: black;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #4299e1;
  border-radius: 6px;
}

.task > ::-webkit-scrollbar-thumb {
  background-color: #4299e1;
  border-radius: 6px;
}
